css/._.DS_Store
css/.DS_Store
*
!js
!js/*
!index.html
!jjdahome.htm
!jjdaacknow.htm

!images
!images/*
images/*.DS_Store
!/u
!/u/*
!/u/ff
!u/ff/*
!u/ff/js
!u/ff/css
!u/ff/css/*
!u/ff/snippet
!u/ff/snippet/*
!u/ff/snippet/*/*
!u/ff/unbs
!u/ff/unbs/*
!u/ff/upics
!u/ff/upics/*
!u/ff/udra
!u/ff/udra/*
!u/ff/upp
!u/ff/upp/*
!u/ff/ubiog
!u/ff/ubiog/*.htm
!u/ff/ubiog/*.pdf
!u/ulex
!u/ulex/*
!u/ulex/*/*.htm
!u/ulex/*/*.pdf
!u/uhome.htm


!f
!f/*
!f/ff
!f/ff/js
!f/ff/js/*
!f/ff/fpics
!f/ff/fpics/*.htm
!f/ff/fpics/*.jpg
!f/ff/fpics/*.pdf
!f/ff/fpics/*.png
!f/ff/fnbs
!f/ff/fnbs/*.htm
!f/ff/fdra
!f/ff/fdra/*.htm
!f/ff/fbiog
!f/ff/fbiog/*.htm
!f/ff/css
!f/ff/css/*
!f/ff/app
!f/ff/app/*.htm


